*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: #ecf1f1;
}

body {
  margin: 0 15rem;
  background-color: white;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  background-color: #004175;
  padding: 1.5rem 3rem 1.5rem 3rem;
  border-bottom-color: #89deef;
  border-bottom-width: 0.25rem;
  border-bottom-style: solid;
}

.main {
  padding: 0.7rem 3rem 0.7rem 3rem;
}

.main-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.main > p {
  font-size: 1rem;
}

.dog {
  border: 8px solid orangered;
}

.dog-name {
  font-size: larger;
  font-weight: bold;
}

.traits > span {
  font-size: small;
  background-color: #89deef;
  border-radius: 0.4rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
